<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page officielle</title>
</head>
<body background="t4.jpg">
<form>
    <br>
    <br>
    <br>
    <br>
<center><font face="agency fb"><font size="10"><b> Formulaire</b></font></font> </center><br>
    <br>
    <br>
    <table width="25%" align="center">


    <tr><td><font face="agency fb"><font size="5">CIN </font></font></td><td><input type="text" name="m1"  ></td></tr>
<tr></tr>
        <tr></tr>
    <tr><td><font face="agency fb"><font size="5"> Nom</font></font></td><td> <input type="text" name="m2"  ></td></tr>
<tr></tr>
        <tr></tr>
     <tr><td><font face="agency fb"><font size="5">Prénom </font></font></td><td><input type="text" name="m3"  ></td></tr>
<tr></tr>
        <tr></tr>
    <tr><td> <font face="agency fb"><font size="5">Adresse</font></font> </td><td><input type="text" name="m4"  ></td></tr>
<tr></tr>
        <tr></tr>
     <tr><td><font face="agency fb"><font size="5">E-mail</font></font></td><td><input type="text" name="m5"  ></td></tr>
<tr></tr>
        <tr></tr>
     <tr><td><font face="agency fb"><font size="5">Numéro de téléphon</font></font></td><td> <input type="text" name="m6"  ></td></tr>
<tr></tr>
        <tr></tr>
     <tr><td><font face="agency fb"><font size="5">Profession</font></font> </td>
        <td>  <select name="niveau"  type="text" >
            <option></option>
     <option value="p1">enseignant</option>
         <option value="p2">etudiant</option>
     </select></td></tr>
<tr></tr>
        <tr></tr>
     <tr><td><font face="agency fb"><font size="5">Departement</font></font></td><td> <input type="text" name="m8"  > </td></tr>
<tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
           <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    <tr><td align="right"><input type="submit" value="valider" >   </td>
         <td align="left"><input type="reset" value="annuler" >   </td></tr>




</table>
</form>
</body>
</html>
